.btn {
    color: #ffffff;
    display: block;
    width: 140px;
    margin: auto;
    border-radius: 6px;
    background: #716ae4;
    border: 2px solid #716ae4;
    padding: 12px 12px 8px 12px;
    font-family: sans-serif;
    font-size: 15px !important;
}
